body {
    font-family: Arial, sans-serif;
    background-color: #f0e3e3ea;
    display: flex;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    width: 100%;
    max-width: 400px;
}

h2 {
    text-align: center;
    color: red;
    margin-bottom: 30px;
}

label {
    margin-top: 10px;
    display: block;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="tel"],
select,
textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.sexo, .preferencias {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.sexo label,
.preferencias label {
    margin-right: 30px;
}

.sexo input,
.preferencias input {
    margin-right: 10px;
}

button {
    width: 100%;
    padding: 20px;
    background-color: #0b69cc;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

button:hover {
    background-color: #0a76e9;
}
